<section class="padding-bottom">

  <header class="section-heading heading-line">
    <h4 class="title-section text-uppercase">Choose region</h4>
  </header>

  <ul class="row mt-4">

    <li class="col-md col-6">
      <a href="#" class="icontext">
        <img class="icon-flag-sm" src="assets/images/icons/flags/CN.png" alt="China flag"> <span>China</span>
      </a>
    </li>

    <li class="col-md col-6">
      <a href="#" class="icontext">
        <img class="icon-flag-sm" src="assets/images/icons/flags/DE.png" alt="Germany flag"> <span>Germany</span>
      </a>
    </li>

    <li class="col-md col-6">
      <a href="#" class="icontext">
        <img class="icon-flag-sm" src="assets/images/icons/flags/AU.png" alt="Australia flag"> <span>Australia</span>
      </a>
    </li>

    <li class="col-md col-6">
      <a href="#" class="icontext">
        <img class="icon-flag-sm" src="assets/images/icons/flags/RU.png" alt="Russia flag"> <span>Russia</span>
      </a>
    </li>

    <li class="col-md col-6">
      <a href="#" class="icontext">
        <img class="icon-flag-sm" src="assets/images/icons/flags/IN.png" alt="India flag"> <span>India</span>
      </a>
    </li>

    <li class="col-md col-6">
      <a href="#" class="icontext">
        <img class="icon-flag-sm" src="assets/images/icons/flags/GB.png" alt="England flag"> <span>England</span>
      </a>
    </li>

    <li class="col-md col-6">
      <a href="#" class="icontext">
        <img class="icon-flag-sm" src="assets/images/icons/flags/TR.png" alt="Turkey flag"> <span>Turkey</span>
      </a>
    </li>

    <li class="col-md col-6">
      <a href="#" class="icontext">
        <img class="icon-flag-sm" src="assets/images/icons/flags/UZ.png" alt="Uzbekistan flag"> <span>Uzbekistan</span>
      </a>
    </li>

    <li class="col-md col-6">
      <a href="#" class="icontext">
        <fa-icon [icon]="faEllipsisH" class="mr-3"></fa-icon> <span>More regions</span>
      </a>
    </li>

  </ul>
</section>
