<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-3 col-md-12">
          <a href="#" class="brand-wrap">Company Name</a>
        </div>

        <div class="col-xl-6 col-lg-5 col-md-6">
          <app-search-form></app-search-form>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-6">
          <app-widgets-header></app-widgets-header>
        </div>
      </div>
    </div>
  </section>

  <app-nav-bar></app-nav-bar>
</header>


<div class="container">

  <!-- Section main -->
  <section class="section-main bg padding-y">
    <main class="card">
      <div class="card-body">
        <div class="row">
          <aside class="col-lg col-md-3 flex-lg-grow-0">
            <app-menu-category></app-menu-category>
          </aside> <!-- col.// -->

          <div class="col-md-9 col-xl-7 col-lg-7">
            <app-carousel-slider></app-carousel-slider>
          </div> <!-- col.// -->

          <div class="col-md d-none d-lg-block flex-grow-1">
            <app-popular-category></app-popular-category>
          </div> <!-- col.// -->
        </div> <!-- row.// -->

      </div> <!-- card-body.// -->
    </main> <!-- card.// -->
  </section>

  <!-- Section deal -->
  <section class="padding-bottom">
    <app-products-list></app-products-list>
  </section>

  <app-home-category></app-home-category>

  <app-request-quotation></app-request-quotation>

  <app-recommended-items></app-recommended-items>

  <app-trade-services></app-trade-services>

  <app-regions-list></app-regions-list>

  <app-large-banner></app-large-banner>
</div> <!-- container end.// -->

<app-subscribe-form></app-subscribe-form>

<!-- <app-download-demo></app-download-demo> -->

<app-footer></app-footer>
