<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
      aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" href="#"> <i
              class="fa fa-bars text-muted mr-2"></i> Demo pages </a>
          <div class="dropdown-menu dropdown-large" ngbDropdownMenu>
            <nav class="row">
              <div class="col-6">
                <a href="page-index-1.html">Home page 1</a>
                <a href="page-index-2.html">Home page 2</a>
                <a href="page-category.html">All category</a>
                <a href="page-listing-large.html">Listing list</a>
                <a href="page-listing-grid.html">Listing grid</a>
                <a href="page-shopping-cart.html">Shopping cart</a>
                <a href="page-detail-product.html">Product detail</a>
                <a href="page-content.html">Page content</a>
                <a href="page-user-login.html">Page login</a>
                <a href="page-user-register.html">Page register</a>
              </div>
              <div class="col-6">
                <a href="page-profile-main.html">Profile main</a>
                <a href="page-profile-orders.html">Profile orders</a>
                <a href="page-profile-seller.html">Profile seller</a>
                <a href="page-profile-wishlist.html">Profile wishlist</a>
                <a href="page-profile-setting.html">Profile setting</a>
                <a href="page-profile-address.html">Profile address</a>
                <a href="rtl-page-index-1.html">RTL home page</a>
                <a href="page-components.html" target="_blank">More components</a>
              </div>
            </nav> <!--  row end .// -->
          </div> <!--  dropdown-menu dropdown-large end.// -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ready to ship</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trade shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sell with us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Get the app</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" href="#" ngbDropdownToggle data-toggle="dropdown">English</a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" href="#">Russian</a>
            <a class="dropdown-item" href="#">French</a>
            <a class="dropdown-item" href="#">Spanish</a>
            <a class="dropdown-item" href="#">Chinese</a>
          </div>
        </li>
      </ul>
    </div> <!-- collapse .// -->

  </div> <!-- container .// -->
</nav>
