<div class="widgets-wrap float-md-right">
  <div class="widget-header  mr-3">
    <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
    <span class="badge badge-pill badge-danger notify">0</span>
  </div>
  <div class="widget-header icontext">
    <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
    <div class="text">
      <span class="text-muted">Welcome!</span>
      <div>
        <a href="#">Sign in</a> |
        <a href="#"> Register</a>
      </div>
    </div>
  </div>

</div> <!-- widgets-wrap.// -->
